// BASE COLORS
$clr-green:       #AFF1DA;
$clr-yellow:      #F9EA8F;
$clr-green-dark:  #77E6C0;
$clr-blue:        #3D28C3;
$clr-p:           #635555;
$clr-white:       #FFFFFF;
$clr-gray:        #9DA5A2;

// FORM COLORS VALIDATION
$error: #FF0033;
$sucess: #2ECC71;




