/***************** FONT FAMILY *****************/

@font-face {
    font-family: $ff-upper;
    src: url(../../fonts/edosz.ttf);
}

/***************** RESET ELEMENTS *****************/


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/***************** BASIC STYLE *****************/


body {
    font-family: $ff-normal;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    text-align: center;
}