// flex container 
@mixin flexy(
    $just : null,
    $align : null,
    $dir : null,
    $wrap : null) {

        display: flex;
        justify-content: $just;
        align-items: $align;
        flex-direction: $dir;
        flex-wrap: $wrap;
    
}



// button style 
@mixin btn-style($w,
                 $h, 
                 $bg-color: $clr-yellow,
                 $color: $clr-green-dark,
                 $f-family: $ff-upper,
                 $fs: ($base-fs * 1.5),
                 $border: none) {
                        @include flexy(center, center);
                        width: $w;
                        height: $h;
                        font-size: $fs;
                        background-color: $bg-color;
                        color: $color;
                        border-radius: 30px;
                        border: $border;
                        font-family: $f-family;
                        text-align: center;
                         
                }



// center elements horizontally
@mixin center($w: $global-w) {
    width: $w;
    margin: 0 auto;
}


// title style
@mixin title-style($txt-algn) {
    font-family: $ff-upper;
    font-size: $base-fs * 3;
    text-align: $txt-algn;
    color: $clr-green;

    span {
        display: inline-block;
        width: 50px;
        height: 6px;
        border-radius: 3px;
        background-color: $clr-yellow;
        margin: ($general-spacing / 2);
    }
}

// description style
@mixin desc-style ($fs, $pd-b) {
    font-size: $fs;
    text-align: center;
    padding-bottom: $pd-b;

}

// inputs styles 
@mixin  input-style($h, $bg-clr: $clr-white) {
    outline: none;
    border: 1px solid $clr-p;
    height: $h;
    background-color: $bg-clr;
    padding: 0 $general-spacing;
    font-size: $base-fs * 1.2;
    font-family: $ff-normal;
    font-weight: normal;
    letter-spacing: 1px;
    color: $clr-p;
    border-radius: 7px;
    transition: border .2s ease;

    &:focus {
        border: 2px solid $clr-yellow;
    }
}



// media queries 
@mixin mq($breakpoint)  {

    @media (max-width: $breakpoint) {
        @content;
    }  

}

