// flex container 
@mixin flexy(
    $just : null,
    $align : null,
    $dir : null,
    $wrap : null) {

        display: flex;
        justify-content: $just;
        align-items: $align;
        flex-direction: $dir;
        flex-wrap: $wrap;
    
}



// button style 
@mixin btn-style($w,
                 $h, 
                 $bg-color: $clr-yellow,
                 $color: $clr-green-dark,
                 $f-family: $ff-upper,
                 $ln-h: 50px,
                 $border: none) {

                        width: $w;
                        height: $h;
                        background-color: $bg-color;
                        color: $color;
                        border-radius: 30px;
                        border: $border;
                        font-family: $f-family;
                        text-align: center;
                        line-height: $ln-h; 
}



// center elements horizontally
@mixin center($w: $global-w) {
    width: $w;
    margin: 0 auto;
}


// titles style
@mixin title-style($txt-algn) {
    font-family: $ff-upper;
    font-size: $base-fs * 3;
    text-align: $txt-algn;
    color: $clr-green-dark;

    span {
        display: inline-block;
        width: 50px;
        height: 6px;
        border-radius: 3px;
        background-color: $clr-yellow;
        margin: ($general-spacing / 2);
    }
}

// inputs styles 
@mixin  input-style($h) {
    outline: none;
    border: 1px solid $clr-p;
    height: $h;
    padding: 0 $general-spacing;
    font-size: $base-fs * 1.2;
    font-family: $ff-normal;
    font-weight: normal;
    letter-spacing: 1px;
    color: $clr-p;
    border-radius: 7px;

    &:focus {
        border: 2px solid $clr-yellow;
    }
}



// media queries 
@mixin mq($breakpoint)  {
    @if $breakpoint == 'small' {
        @media (min-width: $break-s) and (max-width: $break-m) {
            @content;
        }
    }
    @else if $breakpoint == 'medium' {
        @media (min-width: $break-m + 1) and (max-width: $break-l) {
            @content;
        }
    }
    @else if $breakpoint == 'large' {
        @media (min-width: $break-l + 1) and (max-width: $break-xl) {
            @content;
        }
    }  
}

