
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba($color: grey, $alpha: .8);

    .modal-content {
        @include center(70%);
        height: 85vh;
        margin-top: 7.5vh;
        border-radius: 6px;
        padding: ($general-spacing * 1.5);
        padding-top: $general-spacing;
        background-color: $clr-white;
        box-shadow: 0 0 10px rgba($color: $clr-white, $alpha: .35);
        animation: modal .3s ease-in;

        @keyframes modal {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }


        h3 {
            font-family: $ff-upper;
            color: $clr-green;
            font-size: $base-fs * 2;
            margin-bottom: $general-spacing;
        }

        i {
            float: right;
            font-size: $base-fs * 1.5;
        }

        .clearfix {
            clear: both;
        }
   
    }

    .skill-container {
        @include flexy(space-between);
    }

    .skill {
        &__name {
            text-align: center;
            font-weight: 700;
            font-size: $base-fs * 1.1;
        }
    }

    
}
