.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba($color: grey, $alpha: .7);

    .modal-content {
        @include center(70%);
        height: 85vh;
        margin-top: 7.5vh;
        border-radius: 6px;
        padding: ($general-spacing * 1.5);
        padding-top: $general-spacing;
        background-color: $clr-white;
        box-shadow: 0 0 10px rgba($color: $clr-white, $alpha: .35);
        animation: modal .43s ease-in;

        @keyframes modal {
            from {
                opacity: 0;
                transform: scale(.3);
            }
            to {
                opacity: 1;
                transform: scale(1);

            }
        }

        h3 {
            font-family: $ff-upper;
            color: $clr-green;
            font-size: $base-fs * 2;
            margin-bottom: $general-spacing;
        }

        i {
            float: right;
            font-size: $base-fs * 1.5;
            cursor: pointer;
        }

        .clearfix {
            clear: both;
        }
   
    }

    .skills-container {
        @include flexy(space-between);
        margin: $general-spacing / 2;

        .hard-skills, .soft-skills {
            flex-basis: 45%;
            text-align: center;
        }
            
        .skill-info {
            @include flexy(space-between);
            margin: ($general-spacing / 3) ($general-spacing / 2);

            &__name, &__level {
                margin: 0;
                font-size: $base-fs * 1.1;
                font-weight: 600;
            }

        }

        .outer-progress {
            width: 100%;
            padding: 2px;
            border: 2px solid $clr-green;
            box-shadow: 0 0 5px $clr-green-dark;
        }

        .inner-progress {
            height: 6px;
            background-color: $clr-yellow;
        }

        .xd {
            width: 80%;
            animation: xd 2.4s ease;
        }

        .html {
            width: 85%;
            animation: html 2.55s ease;
        }

        .css {
            width: 80%;
            animation: css 2.4s ease;
        }

        .js {
            width: 70%;
            animation: js 2.1s ease;
        }

        .sql {
            width: 70%;
            animation: sql 2.1s ease;
        }

        .php {
            width: 65%;
            animation: php 1.95s ease;
        }

        .attitude {
            width: 95%;
            animation: attitude 2.85s ease;
        }

        .solving {
            width: 70%;
            animation: solving 2.1s ease;
        }

        .creativity {
            width: 65%;
            animation: creativity 1.95s ease;
        }

        .time-manage {
            width: 60%;
            animation: time-manage 1.8s ease;
        }


        @keyframes xd {
            0% {
                width: 0%;
            }

            100% {
                width: 80%;
            }
        }

        @keyframes html {
            0% {
                width: 0%;
            }

            100% {
                width: 85%;
            }
        }

        @keyframes css {
            0% {
                width: 0%;
            }

            100% {
                width: 80%;
            }
        }

        @keyframes js {
            0% {
                width: 0%;
            }

            100% {
                width: 70%;
            }
        }

        @keyframes sql {
            0% {
                width: 0%;
            }

            100% {
                width: 70%;
            }
        }

        @keyframes php {
            0% {
                width: 0%;
            }

            100% {
                width: 65%;
            }
        }

        @keyframes attitude {
            0% {
                width: 0%;
            }

            100% {
                width: 95%;
            }
        }

        @keyframes solving{
            0% {
                width: 0%;
            }

            100% {
                width: 70%;
            }
        }

        @keyframes creativity {
            0% {
                width: 0%;
            }

            100% {
                width: 65%;
            }
        }

        @keyframes time-manage{
            0% {
                width: 0%;
            }

            100% {
                width: 60%;
            }
        }
    }

}
