/***************** BANNER SECTION *****************/

.banner {
    background-image: url("https://scontent.fcmn5-1.fna.fbcdn.net/v/t1.0-9/118780579_3324722130928085_4913216970256792011_o.jpg?_nc_cat=110&_nc_sid=730e14&_nc_eui2=AeGga3mnJtZ_fxs9VU1zP2petbfrAOoIdjK1t-sA6gh2MuMMNRsWHa8Corv3r8T4zcsqUbRxWSUEgKSW18KhVcm0&_nc_ohc=p7LHeaWnSMMAX8ZrexA&_nc_ht=scontent.fcmn5-1.fna&oh=ae1b4a29c890548a47144567d9c0d4ce&oe=5F751B1B");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;

    .content {
        @include center();
        padding-top: 10%;
        

        &__greeting {
            color: $clr-green-dark;
            background-color: $clr-white;
            font-size: $base-fs * 1.7;
            font-weight: bold;
            padding: ($general-spacing / 8) ($general-spacing / 2);
            border-radius: 9px;
        }

        &__fullname {
            font-size: $base-fs * 3.8;
            color: $clr-yellow;
            font-weight: lighter;
            margin: ($general-spacing / 5) 0px;
            letter-spacing: 2px;
        }

        &__fullname span {
            font-family: $ff-upper;
            color: $clr-green-dark;
            font-weight: bold;
            letter-spacing: 3px;
        }

        &__job {
            color: $clr-white;
            font-size: $base-fs * 2;
            letter-spacing: 1px;
        }

        &__button {
            @include btn-style(200px, 50px);
            margin: ($general-spacing * 1.4) ($general-spacing / 2);
            position: relative;
            overflow: hidden;
            
        }

        &__button::before {
            content: '';
            width: 100%;
            height: 20px; 
            background-color: rgba($color: #000000, $alpha: .3);
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%) rotate(45deg);
            transition: all .5s ease-in-out;

        }

        &__button:hover {
            background-color: $clr-white;
            border: 2px solid $clr-yellow;
        }

        &__button:hover::before {
            transform: translateX(100%) rotate(45deg);
        }   

        
    }

    .social {
        width: 20%;
        @include flexy(space-between);
        
        &__icon a {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-color: transparent;
            border: 1px solid $clr-white;
            border-radius: 50%;
            transition: background-color .2s ease-in-out;
        }

        &__icon a:hover {
            background-color: $clr-white;
        }

        &__icon a:hover > i {
            color: $clr-p;
        }

        &__icon i {
            color: $clr-white;
            font-size: $base-fs * 1.2;
            line-height: 40px;
            transition: color .3s ease-in-out;
        }

    }

}
