/***************** CONTACT SECTION *****************/
.contact {
    @include center();
  
    &__title {
      @include title-style(left);
      padding-bottom: $general-spacing * 2.5;
    }

    &__description {
      @include center(65%);
      @include desc-style($fs-p, ($general-spacing * 4));
    }

    &__infos {
      @include flexy(space-around);
      margin-bottom: $general-spacing * 3;

      .info {
        @include flexy($dir: column, $just: space-evenly, $wrap: wrap);
        text-align: center;
        background-color: $clr-yellow;
        height: ($general-spacing * 9);
        padding: 0px ($general-spacing * 1.5);
        border-radius: 10px;
        flex-basis: 25%;
        transition: transform .4s ease-in-out;


        &__icon {
          color: $clr-p;
          font-size: $base-fs * 4;
        }

        &__content {
          font-size: $base-fs * 1.5;
        }

      }

      .info:hover {
        transform: translateY(-5px);
      }

    }

    &__form  {
        @include center();     

        .top-form {
          @include flexy(space-between);
          margin-bottom: $general-spacing;

          .col1 {
            flex-basis: 35%;
          }

          .col2 {
            flex-basis: 63%;
          }
          
          &__name {
            width: 100%;
            @include input-style(46px);

          }

          &__email {
            width: 100%;
            @include input-style(46px);

          }

        }

        .bottom-form {
          margin-bottom: $general-spacing * 1.5;

          .message-contact {
            @include input-style(200px);
            width: 100%;
            resize: none;
            padding-top: $general-spacing / 2;

          }
        }

        .button {
          @include btn-style(100%, 50px);
          margin-bottom: $general-spacing * 6;
          outline: none;
        
        }

    

        .button:hover {
            cursor: pointer;
            background-color: $clr-white;
            border: 2px solid $clr-yellow;
      }  

      
    }

    .modal-content {
      width: 55%;
      text-align: center;

      img {
        width: 180px;
        height: 180px;
        margin-bottom: $general-spacing * 1.5;
      }

      p {
        font-size: $base-fs * 1.3;
        font-weight: 600;
        margin-bottom: $general-spacing;
        text-align: left;
        padding: 0px $general-spacing 0px;
      }

      h4 {
        font-family: $ff-upper;
        color: $clr-green-dark;
        letter-spacing: 2px;
      }
      

    }


    

}
