
.navbar {
    @include center();
    @include flexy(space-between);
}


.logo {
    img {
        display: inline-block;
        height: 40%;
        line-height: 100%;
    }
}

.nav {
    @include flexy(space-between);
    width: 70%;

}