/***************** NAVBAR SECTION *****************/

.header {
    width: 100%;
}

.navbar {
    width: 100%;
    padding: 15px 0px;
    transition: all .3s ease;
}

.container {
    width: 100%;
    @include flexy(space-between);
}

.logo {
    margin-left: 5%;
}

.logo img {
    width: 120px;
    height: 60px;
}

.sticky {
    position: fixed;
    background-color: #E8F3F1;
    z-index: 99;
    padding: 0;
}

.nav {
    min-width: 474px;
    @include flexy(space-between);
    flex: .7;

    &__item {
        cursor: pointer;
        @include flexy(center, center);

    }

    &__item a {
        color: $clr-p;
        font-size: $base-fs * 1.5;
        transition: all .2s ease-out;
    }

    .action {
        @include btn-style(120px, 40px, $bg-color: $clr-blue, $color: $clr-white, $fs: ($base-fs * 1.6), $f-family: $ff-normal);
        font-weight: 800;
    }
    
    .action:hover {
        background-color: $clr-white;
        border: 2px solid $clr-yellow;
    }

    &__item a:hover  {
        color: $clr-green-dark;
        border-bottom: 3px solid $clr-yellow;
        
    }


    .active {
        color: $clr-green-dark;
        border-bottom: 3px solid $clr-yellow;
    }

}

.options {
    @include flexy(center, center);
    margin-right: 5%;

    &__dark {
        cursor: pointer;
        font-size: $base-fs * 1.2;
    }

    &__language {
        cursor: pointer;
        outline: none;
        padding: 6px 2px;
        border: 2px solid $clr-yellow;
        border-radius: 9px;
        text-transform: uppercase;
        font-family: $ff-upper;
        color: $clr-green-dark;
        font-size: $base-fs;
        margin-left: 26px;
    }
}


