/***************** NAVBAR SECTION *****************/

.header {
    width: 100%;
}


.navbar {
    @include center();
    padding: 20px 0px;
}

.container {
    width: 100%;
    @include flexy(space-between);
}

.logo img {
    width: 120px;
    height: 60px;
    
}

.nav {
    min-width: 474px;
    @include flexy(space-between);
    flex: .7;

    &__item {
        @include flexy(center, center);
    }

    &__item a {
        color: $clr-p;
        font-size: $base-fs * 1.5;
        transition: color .2s ease-out;
    }

    &__item .active {
        color: $clr-green;
    }

    &__item a:hover  {
        color: $clr-green;
        
    }

}

.options {
    @include flexy(center, center);

    &__dark {
        cursor: pointer;
    }

    &__language {
        cursor: pointer;
        outline: none;
        padding: 6px 2px;
        border: 2px solid $clr-yellow;
        border-radius: 9px;
        text-transform: uppercase;
        font-family: $ff-upper;
        color: $clr-green-dark;
        font-size: $base-fs;
        margin-left: 26px;
    }
}


