/***************** SERVICES SECTION *****************/

.services  {
    @include center();
    padding-top: ($general-spacing * 4.5);

    &__title {
        @include title-style(left);
        padding-bottom: $general-spacing * 2.5;
    }

    &__description {
        @include center(65%);
        @include desc-style($fs-p, ($general-spacing * 4));
    }

    &__content {
        @include flexy(space-between);
        @include center(85%); 
    }

    .skill {
        padding: ($general-spacing * 1.5) 0px ;
        border: 2px solid $clr-green;
        text-align: center;
        flex-basis: 30%;
        transition: all .3s ease-in-out;
        
    

        &__img {
            width: 70px;
            height: 60px;
            margin-bottom: 16px;
        }

        &__name {
            font-size: $base-fs * 1.9;
            margin-bottom: 10px;
            font-weight: bold;
        }

        &__detail {
            font-size: $base-fs * 1.2;
            @include center(80%);

        }

        &:hover {
            background-color: $clr-green;
            color: white;
            border: none;
        }
        
    }   


    .skill:nth-child(1) {
        border-radius: 8px 8px 20px 8px;
    }

    .skill:nth-child(2) {
        border-radius: 8px 8px 20px 20px;
    }

    .skill:nth-child(3) {
        border-radius: 8px 8px 8px 20px;
    }
}