/***************** FONT FAMILY *****************/
@font-face {
  font-family: "Edo SZ";
  src: url(../../fonts/edosz.ttf);
}

/***************** RESET ELEMENTS *****************/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/***************** BASIC STYLE *****************/
html {
  scroll-behavior: smooth;
}

body {
  max-width: 1320px;
  min-width: 375px;
  background-color: #F6F5F7;
  font-family: "Abel", sans-serif;
  color: #635555;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-align: center;
}

i {
  display: inline-block;
}

.thanks {
  width: 85%;
  margin: 0 auto;
  height: 85vh;
  padding: 7.5vh 0vh;
}

.thanks-content {
  text-align: center;
}

.thanks-content__img {
  margin-bottom: 60px;
}

.thanks-content__heading {
  font-family: "Edo SZ";
  font-size: 40px;
  color: #77E6C0;
  margin-bottom: 30px;
}

.thanks-content__description {
  width: 75%;
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 30px;
}

.thanks-content__home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 50px;
  font-size: 24px;
  background-color: #F9EA8F;
  color: #77E6C0;
  border-radius: 30px;
  border: none;
  font-family: "Edo SZ";
  text-align: center;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.thanks-content__home::before {
  content: '';
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: all .5s ease-in-out;
}

.thanks-content__home:hover {
  background-color: #FFFFFF;
  border: 2px solid #F9EA8F;
}

.thanks-content__home:hover::before {
  transform: translateX(100%) rotate(45deg);
}
