/***************** FONT FAMILY *****************/
@font-face {
  font-family: "Edo SZ";
  src: url(../../fonts/edosz.ttf);
}

/***************** RESET ELEMENTS *****************/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/***************** BASIC STYLE *****************/
body {
  width: 100vw;
  font-family: "Abel", sans-serif;
  color: #635555;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-align: center;
}

i {
  display: inline-block;
}

/***************** NAVBAR SECTION *****************/
.header {
  width: 100%;
}

.navbar {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 120px;
  height: 60px;
}

.nav {
  min-width: 474px;
  display: flex;
  justify-content: space-between;
  flex: .7;
}

.nav__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__item a {
  color: #635555;
  font-size: 24px;
  transition: color .2s ease-out;
}

.nav__item .active {
  color: #AFF1DA;
}

.nav__item a:hover {
  color: #AFF1DA;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options__dark {
  cursor: pointer;
}

.options__language {
  cursor: pointer;
  outline: none;
  padding: 6px 2px;
  border: 2px solid #F9EA8F;
  border-radius: 9px;
  text-transform: uppercase;
  font-family: "Edo SZ";
  color: #77E6C0;
  font-size: 16px;
  margin-left: 26px;
}

/***************** BLOG SECTION *****************/
.banner {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99.2%;
  background-image: linear-gradient(to right, #0aff1d, rgba(10, 255, 29, 0.4));
  opacity: .5;
}

.banner img {
  -webkit-filter: saturate(2);
          filter: saturate(2);
}

.banner .content {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 7.5%;
  right: 7.5%;
}

.banner .content__greeting {
  color: #AFF1DA;
  background-color: #FFFFFF;
  font-size: 27.2px;
  font-weight: bold;
  padding: 2.5px 10px;
  border-radius: 9px;
}

.banner .content__fullname {
  font-size: 60.8px;
  color: #F9EA8F;
  font-weight: lighter;
  margin: 4px 0px;
  letter-spacing: 2px;
  position: relative;
}

.banner .content__fullname::after {
  content: '';
  width: 60px;
  height: 4px;
  background-color: #F9EA8F;
  position: absolute;
  transform: rotate(90deg);
  top: 50%;
}

.banner .content__fullname span {
  font-weight: bold;
  letter-spacing: 3px;
}

.banner .content__job {
  color: #FFFFFF;
  font-size: 32px;
  letter-spacing: 1px;
}

.banner .content__button {
  display: inline-block;
  margin: 40px 10px;
  width: 200px;
  height: 50px;
  background-color: #F9EA8F;
  color: #77E6C0;
  border-radius: 30px;
  border: none;
  font-family: "Edo SZ";
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  position: relative;
  overflow: hidden;
}

.banner .content__button::before {
  content: '';
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: all .5s ease-in-out;
}

.banner .content__button:hover {
  background-color: #FFFFFF;
  border: 2px solid #F9EA8F;
}

.banner .content__button:hover::before {
  transform: translateX(100%) rotate(45deg);
}

.banner .social {
  width: 20%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: -30px;
  left: 30px;
  z-index: 1;
}

.banner .social__icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  transition: background-color .2s ease-in-out;
}

.banner .social__icon a:hover {
  background-color: #FFFFFF;
}

.banner .social__icon a:hover > i {
  color: #635555;
}

.banner .social__icon i {
  color: #FFFFFF;
  font-size: 19.2px;
  line-height: 40px;
  transition: color .3s ease-in-out;
}

/***************** ABOUT SECTION *****************/
.about {
  width: 90%;
  margin: 0 auto;
  padding-top: 90px;
}

.about__title {
  font-family: "Edo SZ";
  font-size: 48px;
  text-align: center;
  color: #AFF1DA;
}

.about__title span {
  display: inline-block;
  width: 50px;
  height: 6px;
  border-radius: 3px;
  background-color: #F9EA8F;
  margin: 10px;
}

.about .columns {
  display: flex;
}

.about__avatar {
  flex: 1;
  position: relative;
}

.about__avatar img {
  min-width: 357.5px;
  min-height: 533px;
}

.about .border {
  border: 15px solid #F9EA8F;
  min-width: 322px;
  min-height: 430px;
  z-index: -1;
  position: absolute;
  top: 70px;
  left: 20px;
}

.about__description {
  flex: 2;
  margin-left: 80px;
  margin-top: 80px;
}

.about__description p {
  margin-bottom: 74px;
  font-size: 27.2px;
  line-height: 1.4;
}

.about .btn-wrap {
  margin-left: 16px;
}

.about .btn-wrap__download {
  width: 200px;
  height: 50px;
  background-color: #F9EA8F;
  color: #77E6C0;
  border-radius: 30px;
  border: none;
  font-family: "Edo SZ";
  text-align: center;
  line-height: 50px;
  display: inline-block;
  font-size: 24px;
  margin-right: 60px;
  position: relative;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.about .btn-wrap__download::before {
  content: '';
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: all .5s ease-in-out;
}

.about .btn-wrap__download:hover {
  background-color: #FFFFFF;
  border: 2px solid #F9EA8F;
}

.about .btn-wrap__download:hover::before {
  transform: translateX(100%) rotate(45deg);
}

.about .btn-wrap__view {
  width: 200px;
  height: 50px;
  background-color: #FFF;
  color: #77E6C0;
  border-radius: 30px;
  border: 2px solid #F9EA8F;
  font-family: "Edo SZ";
  text-align: center;
  line-height: 50px;
  display: inline-block;
  font-size: 24px;
  position: relative;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.about .btn-wrap__view::before {
  content: '';
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: all .5s ease-in-out;
}

.about .btn-wrap__view:hover {
  background-color: #F9EA8F;
  border: none;
}

.about .btn-wrap__view:hover::before {
  transform: translateX(100%) rotate(45deg);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.8);
}

.modal .modal-content {
  width: 70%;
  margin: 0 auto;
  height: 85vh;
  margin-top: 7.5vh;
  border-radius: 6px;
  padding: 30px;
  padding-top: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.35);
  -webkit-animation: modal .3s ease-in;
          animation: modal .3s ease-in;
}

@-webkit-keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal .modal-content h3 {
  font-family: "Edo SZ";
  color: #AFF1DA;
  font-size: 32px;
  margin-bottom: 20px;
}

.modal .modal-content i {
  float: right;
  font-size: 24px;
}

.modal .modal-content .clearfix {
  clear: both;
}

.modal .skill-container {
  display: flex;
  justify-content: space-between;
}

.modal .skill__name {
  text-align: center;
  font-weight: 700;
  font-size: 17.6px;
}

/***************** SERVICES SECTION *****************/
.services {
  width: 90%;
  margin: 0 auto;
  padding-top: 90px;
}

.services__title {
  font-family: "Edo SZ";
  font-size: 48px;
  text-align: left;
  color: #AFF1DA;
  padding-bottom: 50px;
}

.services__title span {
  display: inline-block;
  width: 50px;
  height: 6px;
  border-radius: 3px;
  background-color: #F9EA8F;
  margin: 10px;
}

.services__description {
  font-size: 27.2px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 80px;
}

.services__content {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.services .skill {
  padding: 30px 0px;
  border: 2px solid #AFF1DA;
  text-align: center;
  flex-basis: 30%;
  position: relative;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.services .skill__img {
  width: 70px;
  height: 60px;
  margin-bottom: 16px;
}

.services .skill__name {
  font-size: 30.4px;
  margin-bottom: 10px;
  font-weight: bold;
}

.services .skill__detail {
  font-size: 19.2px;
  width: 80%;
  margin: 0 auto;
}

.services .skill:hover {
  background-color: #AFF1DA;
  color: white;
  border: none;
}

.services .skill::before {
  content: '';
  width: 100%;
  height: 5px;
  background-color: #F9EA8F;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 8px 8px 8px 0px;
  transform: translateX(-100%);
  transition: all .6s ease;
}

.services .skill:hover::before {
  transform: translateX(0%);
}

.services .skill:nth-child(1) {
  border-radius: 8px 8px 20px 8px;
}

.services .skill:nth-child(2) {
  border-radius: 8px 8px 20px 20px;
}

.services .skill:nth-child(3) {
  border-radius: 8px 8px 8px 20px;
}

/***************** WORK SECTION *****************/
.work {
  width: 90%;
  margin: 0 auto;
  padding-top: 90px;
}

.work__title {
  font-family: "Edo SZ";
  font-size: 48px;
  text-align: center;
  color: #AFF1DA;
  padding-bottom: 50px;
}

.work__title span {
  display: inline-block;
  width: 50px;
  height: 6px;
  border-radius: 3px;
  background-color: #F9EA8F;
  margin: 10px;
}

.work__description {
  font-size: 27.2px;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 80px;
}

.work .work-type {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.work .work-type__item {
  cursor: pointer;
  width: 140px;
  height: 50px;
  background-color: #FFF;
  color: #635555;
  border-radius: 30px;
  border: 2px solid #F9EA8F;
  font-family: "Edo SZ";
  text-align: center;
  line-height: 50px;
  font-size: 19.2px;
}

.work .work-type__item--active {
  background-color: #F9EA8F;
}

.mentors {
  width: 90%;
  margin: 0 auto;
  padding-top: 90px;
}

.mentors__title {
  font-family: "Edo SZ";
  font-size: 48px;
  text-align: center;
  color: #AFF1DA;
  padding-bottom: 50px;
}

.mentors__title span {
  display: inline-block;
  width: 50px;
  height: 6px;
  border-radius: 3px;
  background-color: #F9EA8F;
  margin: 10px;
}

.mentors__nav {
  text-align: center;
  margin-top: 60px;
}

.mentors__nav .indicator {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  border: 3px solid #F9EA8F;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.mentors__nav .indicator + .indicator {
  margin-left: 5px;
}

.mentors__nav .current-slide {
  background-color: #F9EA8F;
  transition: all .3s ease-in;
}

.carasoul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 430px;
}

.carasoul__track-container {
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.carasoul__track {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  transition: transform .7s ease-in-out;
}

.carasoul__track .mentor {
  min-width: 100%;
  background-color: #AFF1DA;
  padding: 0px 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carasoul__track .mentor__img {
  width: 120px;
  border-radius: 50%;
  margin-top: 20px;
}

.carasoul__track .mentor__name {
  color: #3D28C3;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 4px;
  letter-spacing: 1px;
}

.carasoul__track .mentor__role {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 19.2px;
  margin-bottom: 10px;
}

.carasoul__track .mentor__review {
  font-size: 20.8px;
}

.carasoul__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carasoul__previous {
  cursor: pointer;
  font-family: "Edo SZ";
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 64px;
  color: #77E6C0;
  transform: rotate(80deg);
}

.carasoul__next {
  cursor: pointer;
  font-family: "Edo SZ";
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 64px;
  color: #77E6C0;
  transform: rotate(260deg);
}

.carasoul .is-hidden {
  opacity: 0;
  cursor: auto;
}

/***************** BLOG SECTION *****************/
.blog {
  width: 90%;
  margin: 0 auto;
  padding-top: 90px;
}

.blog__title {
  font-family: "Edo SZ";
  font-size: 48px;
  text-align: left;
  color: #AFF1DA;
  padding-bottom: 50px;
}

.blog__title span {
  display: inline-block;
  width: 50px;
  height: 6px;
  border-radius: 3px;
  background-color: #F9EA8F;
  margin: 10px;
}

.blog__description {
  font-size: 27.2px;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 80px;
}

.blog .blog-wrap {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

.blog .blog-wrap__item {
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  padding-bottom: 26px;
  flex-basis: 30%;
  transition: box-shadow .3s ease-in-out;
}

.blog .blog-wrap__item:hover {
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
}

.blog .blog-wrap .blog-container {
  width: 85%;
  margin: 0 auto;
}

.blog .blog-wrap .blog-info {
  display: flex;
  margin: 6.66667px 0px;
}

.blog .blog-wrap .blog-info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFF1DA;
}

.blog .blog-wrap .blog-info__date {
  border-right: 2px solid rgba(0, 0, 0, 0.7);
  padding-right: 10px;
  color: #77E6C0;
}

.blog .blog-wrap .blog-info__type {
  font-weight: bold;
}

.blog .blog-wrap .blog-info > * {
  margin-right: 10px;
}

.blog .blog-wrap .blog-title {
  text-transform: uppercase;
  font-size: 20.8px;
  margin: 10px 0px;
}

.blog .blog-wrap .blog-descp {
  margin-bottom: 20px;
}

.blog .blog-wrap .read-btn {
  display: inline-block;
  width: 110px;
  height: 30px;
  background-color: #F9EA8F;
  color: #77E6C0;
  border-radius: 30px;
  border: 2px solid #F9EA8F;
  font-family: "Edo SZ";
  text-align: center;
  line-height: 26px;
  position: relative;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.blog .blog-wrap .read-btn::before {
  content: '';
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: all .5s ease-in-out;
}

.blog .blog-wrap .read-btn:hover {
  background-color: #FFFFFF;
  border: 2px solid #F9EA8F;
}

.blog .blog-wrap .read-btn:hover::before {
  transform: translateX(100%) rotate(45deg);
}

.projects {
  margin: 90px 0px 100px;
  background-color: #F9EA8F;
}

.projects .counter {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.projects .project {
  display: flex;
}

.projects .project__icon {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  margin: 20px;
}

.projects .project__details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projects .project__details__num {
  font-family: "Edo SZ";
  color: #77E6C0;
  font-size: 40px;
}

.projects .project__details__title {
  color: #9DA5A2;
  font-size: 19.2px;
  font-weight: bold;
}

/***************** CONTACT SECTION *****************/
.contact {
  width: 90%;
  margin: 0 auto;
}

.contact__title {
  font-family: "Edo SZ";
  font-size: 48px;
  text-align: left;
  color: #AFF1DA;
  padding-bottom: 50px;
}

.contact__title span {
  display: inline-block;
  width: 50px;
  height: 6px;
  border-radius: 3px;
  background-color: #F9EA8F;
  margin: 10px;
}

.contact__infos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.contact__infos .info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  background-color: #F9EA8F;
  height: 180px;
  padding: 0px 30px;
  border-radius: 10px;
  flex-basis: 25%;
  transition: transform .4s ease-in-out;
}

.contact__infos .info__icon {
  color: #635555;
  font-size: 64px;
}

.contact__infos .info__content {
  font-size: 24px;
}

.contact__infos .info:hover {
  transform: translateY(-5px);
}

.contact__form {
  width: 90%;
  margin: 0 auto;
}

.contact__form .top-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.contact__form .top-form__name {
  flex-basis: 35%;
  outline: none;
  border: 1px solid #635555;
  height: 46px;
  padding: 0 20px;
  font-size: 19.2px;
  font-family: "Abel", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #635555;
  border-radius: 7px;
}

.contact__form .top-form__name:focus {
  border: 2px solid #F9EA8F;
}

.contact__form .top-form__email {
  flex-basis: 63%;
  outline: none;
  border: 1px solid #635555;
  height: 46px;
  padding: 0 20px;
  font-size: 19.2px;
  font-family: "Abel", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #635555;
  border-radius: 7px;
}

.contact__form .top-form__email:focus {
  border: 2px solid #F9EA8F;
}

.contact__form .bottom-form {
  margin-bottom: 30px;
}

.contact__form .bottom-form .message {
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #635555;
  height: 200px;
  padding: 0 20px;
  font-size: 19.2px;
  font-family: "Abel", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #635555;
  border-radius: 7px;
  padding-top: 10px;
}

.contact__form .bottom-form .message:focus {
  border: 2px solid #F9EA8F;
}

.contact__form .button {
  width: 100%;
  height: 50px;
  background-color: #F9EA8F;
  color: #77E6C0;
  border-radius: 30px;
  border: none;
  font-family: "Edo SZ";
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  margin-bottom: 120px;
  outline: none;
}

.contact__form .button:hover {
  background-color: #FFFFFF;
  border: 2px solid #F9EA8F;
}

/***************** FOOTER SECTION *****************/
.footer-container {
  width: 100%;
  height: 100%;
  background-color: #AFF1DA;
  line-height: 100px;
}

.footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer > *:not(.footer__copyright) {
  display: flex;
  align-items: center;
}

.footer__logo {
  flex: .5;
}

.footer__logo img {
  width: 120px;
  height: 60px;
}

.footer__copyright {
  color: #FFFFFF;
  font-size: 22.4px;
  font-size: bold;
  text-align: center;
  flex: 2;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  flex: .5;
}

.footer__social .icon i {
  color: #FFFFFF;
  font-size: 20.8px;
  transition: color .2s ease-in;
}

.footer__social .icon i:hover {
  color: #F9EA8F;
}
