/***************** FONT FAMILY *****************/
@font-face {
  font-family: "Edo SZ";
  src: url(../../fonts/edosz.ttf);
}

/***************** RESET ELEMENTS *****************/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/***************** BASIC STYLE *****************/
html {
  scroll-behavior: smooth;
}

body {
  max-width: 1320px;
  min-width: 375px;
  background-color: #F6F5F7;
  font-family: "Abel", sans-serif;
  color: #635555;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  text-align: center;
}

i {
  display: inline-block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: "Edo SZ";
  font-size: 44.8px;
}

p {
  font-size: 20.8px;
  margin: 30px 0;
}

span {
  margin: 20px 20px 10px;
}

a {
  margin: 20px;
  color: #635555;
  transition: -webkit-text-decoration .3s ease;
  transition: text-decoration .3s ease;
  transition: text-decoration .3s ease, -webkit-text-decoration .3s ease;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  outline: none;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  font-size: 24px;
  background-color: #F9EA8F;
  color: #77E6C0;
  border-radius: 30px;
  border: none;
  font-family: "Edo SZ";
  text-align: center;
}

button::before {
  content: '';
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) rotate(45deg);
  transition: all .5s ease-in-out;
}

button:hover {
  background-color: #FFFFFF;
  border: 2px solid #F9EA8F;
}

button:hover::before {
  transform: translateX(100%) rotate(45deg);
}

.ghost {
  background-color: transparent;
  color: #F9EA8F;
  border: 2px solid #F9EA8F;
  margin: 0;
}

.ghost:hover {
  background-color: transparent;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  outline: none;
  border: 1px solid #635555;
  height: 46px;
  background-color: #F6F5F7;
  padding: 0 20px;
  font-size: 19.2px;
  font-family: "Abel", sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  color: #635555;
  border-radius: 7px;
  transition: border .2s ease;
  width: 100%;
  margin: 8px 0;
}

input:focus {
  border: 2px solid #F9EA8F;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: #AFF1DA;
  background-repeat: no-repeat;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}

.right-panel-active .overlay {
  transform: translateX(50%);
}

.right-panel-active .overlay-left {
  transform: translateX(0);
}

.right-panel-active .overlay-right {
  transform: translateX(20%);
}

@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
